.profile-page {
  background: linear-gradient(135deg, #121212, #1e1e1e);

  p {
    word-wrap: break-word;
    white-space: normal;
  }
}

.card {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 232, 31, 0.1);
}

.form-label {
  font-weight: bold;
}

.btn-warning {
  background-color: #FFE81F;
  border-color: #FFE81F;
  color: #121212;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: #e6c919;
    border-color: #e6c919;
  }
}