.starship-detail {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

.list-group-item {
  background-color: transparent;
  color: white;
  border-color: rgba(255, 255, 255, 0.1);
}